<%- content_for( :javascript ) do -%>
<script type="text/javascript">
$(function() {
    $('#truncate_timestamp').datepicker({
        format: 'mm-dd-yyyy'
    });
});
</script>
<%- end -%>

<div class="page-header">
    <h1>Truncate Events <small>to free up disk space or improve database performance</small></h1>
</div>

<div class="container">
    <div class="row">
        <div class="span6 offset3 well">
            <legend style="text-align: center;">Choose a date to truncate events</legend>

            <p style="text-align: center;" class="text-error">
                <strong>Warning:</strong>
                This will delete <em>all events</em> for <em>selected application(s)</em> prior to the date specified. This action cannot be undone.
            </p>

            <%= form_tag confirm_truncate_events_all_apps_path, :method => :post, :class => "form-horizontal" do %>

                <div class="control-group">
                    <%= label :application_id, "Application", :class => "control-label" %>
                    <div class="controls">
                        <%= select_tag :application_id, options_from_collection_for_select(@applications,"id","name"), { :prompt => "All" } %>
                    </div>
                </div>

                <div class="control-group">
                    <%= label :module_name, "Module", :class => "control-label" %>
                    <div class="controls">
                        <%= select_tag :module_name, options_for_select( @modules ), { :prompt => "All" } %>
                    </div>
                </div>

                <div class="control-group">
                    <%= label :environment_name, "Environment", :class => "control-label" %>
                    <div class="controls">
                        <%= select_tag :environment_name, options_for_select( @environments ), { :prompt => "All" } %>
                    </div>
                </div>

                <div class="control-group">
                    <%= label :truncate_timestamp, "Before", :class => "control-label" %>
                    <div class="controls">
                        <div class="input-append date" id="truncate_timestamp">
                            <input name="truncate_timestamp" class="span6" type="text" readonly />
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <%= link_to "Cancel", admin_info_path, :class => [ :btn ] %>
                        <%= submit_tag "Truncate", :class => [ 'btn', 'btn-danger'] %>
                    </div>
                </div>

            <% end %>

        </div>
    </div>
</div>
