<div class="container">
    <div class="row">
        <div class="span4 offset4 well">
            <legend>Password Reset</legend>
            <%= form_tag do_reset_password_path, :class => "login-form" do %>
                <div class="clearfix">
                    <%= text_field_tag :email, params[:email], :placeholder => "Email Address" %>
                </div>
                <div class="clearfix">
                    <%= text_field_tag :reset_token, params[:reset_token], :placeholder => "Reset Token" %>
                </div>
                <div class="clearfix">
                    <%= password_field_tag :password, "", :placeholder => "New Password" %>
                </div>
                <div class="clearfix">
                    <%= password_field_tag :password_confirmation, "", :placeholder => "Confirm Password" %>
                </div>
                <%= submit_tag "Reset Password", :class => "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
