<div class="form-inline">

    <%= select_tag :application_name, 
                    options_for_select( @applications, cookies['selected_application_name'] ), 
                    {:prompt => 'All Applications'} %>
    <%= select_tag :environment_name, 
                    options_for_select( @environments, cookies['selected_environment_name'] ),
                    {:prompt => 'All Environments'} %>
    <%= select_tag :log_level,
                    options_for_select( @log_levels, cookies['selected_log_level'] ),
                    {:prompt => 'All Levels' } %>

    <!--
    <%= text_field_tag :from_date, params[ :from_date ], :placeholder => "From", :class => "span2" %>
    <%= text_field_tag :to_date, params[ :to_date ], :placeholder => "To", :class => "span2" %>

    <%= button_tag "Apply", :class => "btn btn-primary" %>
    -->

</div>

<div id="log-console">

    <% @events.each do |event| %>

    <div class='event <%= (event.log_level || "").downcase() %>' object-id="<%= event.id %>"> 

        <div class='event-date'>
            <%= apply_timezone( event.timestamp ).strftime("%Y-%M-%d %H:%M:%S %z") unless event.timestamp.nil? %>
        </div> 

        <div class='event-level'><%= event.log_level %></div> 

        <div class='event-app-name'><%= event.application_name %></div> 

        <div class='event-environment'><%= event.environment_name %></div>

        <div class='event-source-ip'><%= event.ip_address %></div>

        <div class='event-message'><%= event.message %></div>

    </div>

    <% end %>

</div>