<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  
<body>

    A password reset for <%= APP_CONFIG['site']['name'] %> was requested for this email address. If you have not requested a password reset for <%= APP_CONFIG['site']['name'] %>, please ignore this email.

    To reset your password, please visit the <a href="<%= APP_CONFIG['site']['url'] %>/<%= reset_password_path %>">password reset page</a> and enter your reset token.

    <dl>
        <dt>Reset token</dt>
        <dd><%= @user.password_reset_token.token %></dd>
    </dl>

    <%= APP_CONFIG['site']['admin'] %><br />
    <a href="mailto:<%= APP_CONFIG['site']['admin_email'] %>"><%= APP_CONFIG['site']['admin_email'] %></a>

</body>

</html>